@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 360, 100%, 100%;
    --secondary: 225, 7%, 11%;
    --border: 220, 21%, 19%;
  }

  .dark {
    --background: 230, 7%, 16%;
    --secondary: 225, 7%, 11%;
    --border: 220, 21%, 19%;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-jetmono {
  font-family: Jetbrains Mono;
}
